.adminLayout {
    display: flex;
}

.adminMainWrap {
    width: calc(100vw - 300px);
    box-sizing: border-box;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
}

.adminTitle {
    font-size: 30px;
    font-weight: 700;
}

.actionButtonsWrap {
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-top: 10px;
}

.newEvent {
    background-color: var(--main-color);
    color: white;
    border-radius: 8px;
    width: 160px;
    height: 36px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.table thead, .table tbody {
    border: 1px solid #dadde3;
}

.table thead {
    background-color: #fafafb;
}

.table thead tr th {
    text-align: start;
}

.table tr th, .table tr td {
    font-size: 14px;
    padding: 10px 10px 10px 4px;
}

.table tr:nth-child(even) td{
    background-color: #fafafb;
}

.table tr:nth-child(odd) td{
    background-color: white;
}

.copyButton {
    width: 60px;
    height: 30px;
    font-size: 13px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }