.adminLayout {
  display: flex;
}

.adminMainWrap {
  width: calc(100vw - 300px);
  box-sizing: border-box;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
}

.adminTitle {
  font-size: 30px;
  font-weight: 700;
}

.sectionWrap {
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  padding: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.flexSection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  width: 400px;
  height: 30px;
  background-color: white;
  border: 1px solid var(--cancel-color);
  border-radius: 6px;
  box-sizing: border-box;
}

#orderFormName {
  border: 1px solid var(--cancel-color);
  border-radius: 6px;
  width: 200px;
  height: 30px;
  font-size: 14px;
  padding: 0 4px;
  margin-left: 6px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.cancelLink {
  width: 100px;
  height: 40px;
  background-color: var(--cancel-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.saveButton {
  width: 100px;
  height: 40px;
}

.dateInput {
  border: 1px solid var(--cancel-color);
  border-radius: 6px;
  width: 106px;
  height: 30px;
  font-size: 14px;
  padding: 0 4px;
  margin: 0 10px;
}

.deleteProductButton {
  width: 100px;
  height: 40px;
}

.spacebetween {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.select {
  width: 400px;
  height: 30px;
  background-color: white;
  border: 1px solid var(--cancel-color);
  border-radius: 6px;
  box-sizing: border-box;
}
