.adminLayout {
    display: flex;
}

.adminMainWrap {
    width: calc(100vw - 300px);
    box-sizing: border-box;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
}

.adminTitle {
    font-size: 30px;
    font-weight: 700;
}

.sectionWrap {
    width: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}