.loginBackground {
    width: 100vw;
    min-height: 700px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formTitleWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-bottom: 30px;
}

.formTitleWrap > h2 {
    font-size: 26px;
}

.formTitleWrap > p {
    color: var(--cancel-color);
}

.formWrap {
    flex-direction: column;
    font-family: Lexend, Helvetica;
    height: 520px;
    justify-content: space-around;
    padding: 24px;
    width: 531px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputWrap {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.inputLabel{
    font-size: 14px;
    font-weight: bold;
}

.errorMessage {
    color: var(--danger-color);
    font-size: 14px;
}